<!-- <div class="container">
    <h1>Edit Profile</h1>
  	<hr>
	<div class="row">
      
      <div class="col-md-3">
        <div class="text-center">
          <img src="//placehold.it/100" class="avatar img-circle" alt="avatar">
          <h6>Upload a different photo...</h6>
          
          <input type="file" class="form-control">
        </div>
      </div>
      
      <div class="col-md-9 personal-info">
        <div class="alert alert-info alert-dismissable">
          <a class="panel-close close" data-dismiss="alert">×</a> 
          <h1>Editing User</h1>
          <i class="fa fa-coffee"></i>
          You are editing <strong><%= @user.first_name %></strong> details.

      </div>
  </div>
</div>
<hr> -->
<div class="col-xs-12 col-sm-12 col-md-6 col-lg-9 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad">
  <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title"><%= @user.first_name%></h3>
    </div>
    <div class="panel-body">
     <%= render 'form' %>
   </div>
 </div>
</div>
<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>
</div>