<nav class="menu" tabindex="0">
	<div class="smartphone-menu-trigger"></div>
	<header class="avatar">
		<img src="/assets/dad1.jpg" />
		<h2><%= @user.first_name%></h2>
	</header>
	<ul>
		<li tabindex="0" class="icon-dashboard"><span>Dashboard</span></li>
		<li tabindex="0" class="icon-customers"><span>Customers</span></li>
		<li tabindex="0" class="icon-users"><span>Users</span></li>
		<li tabindex="0" class="icon-settings"><span>Settings</span></li>
	</ul>
</nav>
<main>
	<div class="container">
		<div class="row">
			<div class="col-md-5  toppad  pull-right col-md-offset-3 ">
				<A href="edit.html" >Edit Profile</A>

				<A href="edit.html" >Logout</A>
				<br>
				<p class=" text-info">May 05,2014,03:00 pm </p>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad">
				<div class="panel panel-info">
					<div class="panel-heading">
						<h3 class="panel-title">Sheena Kristin A.Eschor</h3>
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" src="/assets/dad1.jpg" class="img-circle img-responsive"> </div>
							<div class=" col-md-9 col-lg-9 "> 
								<table class="table table-user-information">
									<tbody>
										<tr>
											<tr>
												<td>Gender</td>
												<td><%= @user.gender.nil? ? 'NA' : @user.gender %></td>
											</tr>
											<tr>
												<td>Home Address</td>
												<td> <%= @user.present_address.nil? ? 'NA' : @user.present_address %></td>
											</tr>
											<tr>
												<td>Email</td>
												<td><%= @user.email.nil? ? 'NA' : @user.email %></a></td>
											</tr>
											<td>Phone Number</td>
											<td><%= @user.phone_number.nil? ? 'NA' : @user.phone_number %>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<div class="panel-footer">
						<a data-original-title="Broadcast Message" data-toggle="tooltip" type="button" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-envelope"></i></a>
						<span class="pull-right">
							<a href="/users/<%= @user.id %>/edit" data-original-title="Edit this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-edit"></i></a>
							<a data-original-title="Remove this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-remove"></i></a>
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- <div class="helper">
		RESIZE THE WINDOW
		<span>Breakpoints on 900px and 400px</span>
	</div> -->
</main>